* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
  color: #333;
  min-height: 100vh;
}

main {
  padding: 2rem;
  background: white;
  color: #333;
  width: fit-content;
  margin: 2rem auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

h1 {
  font-size: 1.8rem;
  color: #0078d4;
}

h2 {
  font-size: 1.4rem;
  color: #555;
}

h1,
h2 {
  text-align: center;;
  margin-bottom: 1.1rem;
}

form p {
  margin: .5rem;
  font-weight: bold;
}

#enrollment {
  padding: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: linear-gradient(135deg, #bed, #aec);
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

select {
  padding: 0.5em;
  border: 1px solid #ccc;
  width: 3rem;
}

button {
  display: block;
  margin: 1rem auto;
  padding: 0.6em 1em;
  border: none;
  border-radius: 5px;
  background-color: #0078d4;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}

table {
  margin-top: 2rem;
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 2px 6px rgb(0 0 0 / 5%);
}

th,
td {
  padding: 0.75rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #000;
  color: white;
  font-weight: bold;
}

tr:hover {
  background-color: #bbb;
}