/* Styles for larger screens */
@media (min-width: 768px) {
  header {
    justify-content: space-between;
  }

  .navigation {
    display: flex;
  }

  .navigation ul {
    flex-direction: row;
    gap: 1rem;
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
  }

  .about-photo-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
}