/* Styles for larger screens */
@media (min-width: 768px) {
  header {
    justify-content: space-between;
  }

  .navigation {
    display: flex;
  }

  .navigation ul {
    flex-direction: row;
    gap: 1rem;
  }

  main {
    display: grid;
    gap: 1rem;
    padding: 1rem;
  }

  .courses {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }

  .course-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .photo-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    text-align: center;
  }


.social-links {
  display: flex;
  gap: 15px; 
  justify-content: center; 
  margin-top: 20px;
} 

.social-links a {
  text-decoration: none;
  color: #333; 
  transition: color 0.3s ease;
}


.social-links a:hover {
  color: #0073b1;


.social-links svg {
  width: 24px;
  height: 24px;
}

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
}
}